body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  gap: 10px;
}
h1 {
  text-align: center;
  font-size: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
  text-align: center;
  font-size: 1.2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#name-container {
  width: 30em;
  height: 150px;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0.8;
  border-radius: 10px;
  flex-direction: column;
  padding: 30px;
}
#name-extender {
  display: flex;
  flex-direction: column;
}
.left-container {
  background-color: green;
  padding-left: 60px;
  border-radius: 5px;
  gap: 15em;
  width: 10em;
  height: 50px;
}
.right-container {
  background-color: green;
  padding-left: 60px;
  border-radius: 5px;
  gap: 15em;
  width: 10em;
  height: 50px;
}

.name-text {
  font-size: 1.2em;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#name-button {
  height: 40px;
  width: 200px;
  border-radius: 10px;
  margin-left: 10em;
  background-color: green;
  border: 1px solid white;
}
